body{
    background-color: rgb(234, 241, 195);
}
main{
    position: relative;
}
section button{
    color: black;
    width: 130px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(243, 242, 157);
    border-radius: 35px;
    font-style:inherit;
    font-weight: bold;
}
section.head{
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 10px;
    background-color: rgb(221, 236, 164);
    display: flex;
    justify-content: space-around;
}
article.text{
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    width: 1280px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 30px;
}
h2 {
    position: relative;
    left: 20px;
    top: 15px;
}
p{
font-size: medium;
width: fit-content;
height: 180px;
padding: 20px;
}
section div{
    text-align: center;
    position: relative;
    top: 300px;
    width: 200px;
    height: 250px;
    border-style: solid;
    border-color: rgb(129, 87, 87);
    background-color: rgb(236, 179, 179);
    border-radius: 30px;
}
section.sub{
    display: flex;
    justify-content: space-around;
}
