
body{
    background-color: rgb(209, 199, 240);
}
main{
    position: relative;
}
section button{
    color: black;
    width: 170px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(223, 226, 245);
    border-radius: 35px;
    /* font-style:inherit; */
    font-weight: bold;
}
section.head{
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 10px;
    background-color: rgb(163, 163, 167);
    display: flex;
    justify-content: space-around;
}
.text{
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    margin: 100px 50px 100px 50px;
    /* width: 1280px;
    height: 200px; */
    /* position: relative;
    top: 150px;
    left: 30px; */
}
h2 {
    padding-top:15px;
    padding-left: 25px;
    /* position: relative;
    left: 20px;
    top: 15px; */
}
p{
font-size: medium;
/* width: fit-content;
height: 180px; */
padding: 12px;
padding-top: 1px;
}
section div{
    text-align: center;
    /* position: relative;
    top: 50px; */
    /* padding: 50px; */
    width: 350px;
    height: 300px;
    border-style: solid;
    border-color: rgb(9, 9, 41);
    background-color: rgb(166, 159, 235);
    border-radius: 30px;
    padding: 12px;
}
.sub{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
